<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darts Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
</head>
<body>
    <h2>Liste des Joueurs et Scores</h2>
    <table>
        <thead>
            <tr>
                <th>Nom du Joueur</th>
                <th>Parties Jouées</th>
                <th>Score Total</th>
                <th>Détail des Scores</th>
            </tr>
        </thead>
        <tbody id="playersTable">
            <!-- Table des joueurs et scores sera mise à jour ici -->
        </tbody>
    </table>

    <h2>Statut du Jeu</h2>
    <p id="currentPlayer">Joueur actuel : Chargement...</p>
    <p id="nbPlayers">Nombre de joueurs : Chargement...</p>

    <button id="restartButton">Recommencer la partie</button>
</body>
</html>